body {
  background-color: FloralWhite;
}
h1 {
text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "Courier New";
}
h2 {
text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: "Courier New";
}
h3 {
text-align: center;
  font-size: 35px;
  font-family: "Courier New";
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

hr.solid {
  border-top: 3px solid #bbb;
}
p {
  text-align: center;
  font-size: 25px;
  font-family: "Monaco";
}
div {
  text-align: center;
}

li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img.wrap {float: center}



