body {
  background-color: seashell;
}
h1 {
text-align: center;
  font-size: 55px;
  font-weight: bold;
  font-family: "Courier New";
}
h2 {
text-align: center;
  font-size: 55px;
  font-weight: bold;
  font-family: "Courier New";
}

p {
  font-size: 40px;
  text-align: left;
  text-align: start;
}
ul {
  margin: 0;
  background-color: darkgrey;
  list-style-type: none;
  padding: 0;
}
ul {
  background-color: #dddddd;
}
li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img.wrap {float: right}


