h1 {
text-align: center;
  font-size: 32px;
  font-weight: bold;
}
h2 {
text-align: center;
  font-size: 32px;
  font-weight: bold;
}
div {
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}

  
